@import '../../../styles/settings.scss';

.root {
  flex-grow: 1;
  overflow: hidden;
  padding: 0 16px;
}

.component {
  padding: $base-size;
}

.paper {
  max-width: 500px;
  margin: 16px auto;
  padding: 8px;
}

.tableNumber {
  top: -10px;
}

.resizer {
  max-width: 150px;
  width: 100%;
}
